In [1]:
#pip install import-ipynb

In [8]:

from ipynb.fs.full.util import *
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

In [5]:
plt = basic_plot_structure(plt)

In [7]:
np.random.seed(42)

In [9]:
data_root = "https://github.com/ageron/data/raw/main/"
dataset_life_satisfaction= pd.read_csv(data_root + "lifesat/lifesat.csv")

In [11]:
dataset_life_satisfaction.head(10)

    Country  GDP per capita (USD)  Life satisfaction
0    Russia          26456.387938                5.8
1    Greece          27287.083401                5.4
2    Turkey          28384.987785                5.5
3    Latvia          29932.493910                5.9
4   Hungary          31007.768407                5.6
5  Portugal          32181.154537                5.4
6    Poland          32238.157259                6.1
7   Estonia          35638.421351                5.7
8     Spain          36215.447591                6.3
9  Slovenia          36547.738956                5.9

In [18]:
X = dataset_life_satisfaction["GDP per capita (USD)"].values
y = dataset_life_satisfaction["Life satisfaction"].values

In [17]:
X

0     26456.387938
1     27287.083401
2     28384.987785
3     29932.493910
4     31007.768407
5     32181.154537
6     32238.157259
7     35638.421351
8     36215.447591
9     36547.738956
10    36732.034744
11    38341.307570
12    38992.148381
13    41627.129269
14    42025.617373
15    42404.393738
16    45856.625626
17    47260.800458
18    48210.033111
19    48697.837028
20    50683.323510
21    50922.358023
22    51935.603862
23    52279.728851
24    54209.563836
25    55938.212809
26    60235.728492
Name: GDP per capita (USD), dtype: float64